body{
    font-size: 16px;
    font-family: 'Roboto';
    background-color: #eeeeee;
}
.head{
    background-color: #072a16;
    font-size: 0;
}
.logo
{
    display: block;
    width: 30px;
    margin: 0 auto;
}
.logo__div
{
    margin: 0 auto;
    vertical-align: baseline;
}
.logo__title{
    display: none;
}
.logo__figure
{
    margin: 0 auto;
    padding-left: 15%;
}
.logo__image{
    margin: 0 auto;
}
.menu
{
    position: fixed;
    font-size: 0;
    background-color: #072a16;
    width: 100%;
    bottom: 0px;
}
.menu__list{
    display: block;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}
.menu__item{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 33.33%;
    border-bottom: thick solid #072a16;
}
.menu__item--sub-green{
    border-bottom: thick solid #8ab446;
}
.menu__link{
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #939598;
    padding: 10px 0;
}
.menu__link--white{
    color: #ffffff;
}
.section{
    margin: 0 auto;
    background-color: #eeeeee;
}
.section--green{
    background-color: #2d6b22;
}
.section--middle--green{
    background-color: #2d6b22;
}
.section--middle{
    background-color: #eeeeee;
}
.center{
    width: 75%;
    margin: 0 auto;
    font-size: 0;
}
.section__text{
    color: #eeeeee;
    padding: 20px 0;
    text-align: center;
}
.section__title{
    margin: 0;
    font-size: 28px;
    font-style: italic;
    font-weight: lighter;
}
.section__title--darker{
    color: #072a16;
}
.section__title--color{
    color: #eeeeee;
}
.section__paragraph{
    font-weight: lighter;
    text-align: justify;
    font-size: 14px;
}
.quien-soy__images{
    display: none;
}
.quien-soy__figure{
    margin: 0;
    padding: 0;
}
.images-list{
    text-decoration: none;
    list-style: none;
    font-size: 0;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.images-list__item{
    display: inline-block;
    font-size: 0px;
    width: 50%;
    margin: 10px auto;
}
.images-list__figure{
    display: block;
    width: 90%;
    margin: 0;
    padding: 0;
    margin-left: 5%;
}
.images-list__image{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    vertical-align: middle;
}
.foot{
    background-color: #eeeeee;
    font-size: 0;
    margin: 50px 20%;
}
.social-media{
    display: block;
    width: 100%;
    margin: 0 auto;
}
.social-media__icon{
    display: inline-block;
    width: 33%;
    margin: 0 auto;
}
.icon__figure{
    display: block;
    margin: 0;
    padding: 0;
    margin: 0 auto;
}
.icon__image{
    display: block;
    margin: 0 auto;
}
/*skill-jobs*/
.skills{
    margin: 0 auto;
    padding: 0;
    padding-bottom: 50px;
    width: 200px;
}
.skill-list{
    text-decoration: none;
    list-style: none;
    font-size: 0;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.skill{
    display: block;
    font-size: 0px;
    margin: 20px auto;
}
.skill__figure{
    display: inline-block;
    background-color: #eeeeee;
    border-radius: 35px;
    max-width: 50px;
    margin: 0;
    padding: 0;
}
.skill__image{
    display: inline-block;
    width: 100%;
    border-radius: 35px;
}
.skill__texts{
    display: inline-block;
    color: #eeeeee;
    height: 100%;
    margin-left: 10px;
    padding-right: 10%;
    position: relative;
}
.skill__title{
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}
.skill__text{
    display: block;
    font-size: 14px;
    font-weight: lighter;
    margin: 0 auto;
}
.skill__cubes{
    display: block;
    position: absolute;
    bottom: 3px;
    left: 40px;
}
.cube{
    display: inline-block;
    background-color: #eeeeee;
    height: 6px;
    width: 15px;
    margin: 0 3px;
}
.jobs-list{
    display: block;
    height: 100%;
    text-decoration: none;
    list-style: none;
    font-size: 0;
    margin: 0 auto;
    padding: 0;
}
.job{
    display: block;;
    font-size: 0px;
    margin: 20px auto;
    vertical-align: middle;
}
.job__texts{
    display: inline-block;
    width: 70%;
    color: #072a16;
    vertical-align: middle;
}
.job__title{
    text-align: right;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
.job__text{
    text-align: justify;;
    font-size: 16px;
}
.job__figure{
    width: 25%;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    margin-left: 10px;
    border-radius: 35px;
    background-color: #eeeeee;
}
.job__image{
    width: 100%;
    display: inline-block;
    border-radius: 35px;
}
/*contactos*/
.form{
    width: 100%;
    margin: 0 auto;
    display: block;
}
.form__text{
    width: 49%;
    display: inline-block;
    text-align: left;
    margin: 0;
    padding: 0;
    margin: 15px auto;
    font-size: 14px;
}
.form__input{
    display: block;
    width: 95%;
    font-size: 14px;
}
.form__input--inline{
    display: inline-block;
    width: 45%;
    margin: 0 auto;

}
.form__input--left{
    margin-left: 5%;
}
.form__button{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #acc864;
    color: #eeeeee;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 16px;
}
/*contact*/
.contact__images{
    display: block;
    width: 40%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.contact__figure{
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    margin: 0 auto;
}
.contact__image{
    width: 100%;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}

@media only screen and (min-width: 768px)
 {
    .logo
    {
        vertical-align:bottom;
        display: inline-block;
        width: 50%;
    }
    .logo__div
    {
        margin: 0;
        display: inline-block;
        margin-left: 5%;
    }
    .logo__figure
    {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .logo__title{
        display: inline-block;
        margin: 0;
        margin-left: 5%;
        color: #eeeeee;
        font-style: italic;
        font-weight: lighter;
        font-size: 32px;
    }
    .menu
    {
        position: static;
        display: inline-block;
        width: 50%;
    }
    .section__text{
        display: inline-block;
        width: 60%;
        vertical-align: middle;
        text-align: left;
    }
    .section__text--bigger{
        width: 100%;
        text-align: center;
    }
    .quien-soy__images{
        display: inline-block;
        width: 20%;
        margin: 0 auto;
        margin-left: 5%;
        vertical-align: middle;
    }
    .quien-soy__figure{
        width: 100%;
        display: block;
    }
    .quien-soy__image{
        width: 100%;
        display: block;
        border-radius: 50%;
    }
    .images-list__item{
        width: 33.33%;
    }
    .social-media{
        width: 50%;
    }
    .skills{
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .skill-list{
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
    }
    .skill{
        display: inline-block;
        margin-bottom: 50px;
        width: 33%;
    }
    .skill__figure{
        display: inline-block;
        max-width: 70px;
    }
    .job{
        display: block;
        font-size: 0px;
        margin: 20px auto;
        vertical-align: middle;
        width: 70%;
    }
    .section--middle{
        width: 49%;
        display: inline-block;
        margin: 0 auto;
        background-color: #eeeeee;
        vertical-align: top;
        color: #072a16;
        padding-bottom: 20px;
    }
    .section--middle--green{
        width: 49%;
        display: inline-block;
        margin: 0 auto;
        background-color: #eeeeee;
        vertical-align: top;
        color: #072a16;
        padding-bottom: 20px;
    }
    .section__title--color{
        color: #072a16;
    }
    .section__text--normal{
        width: 100%;
    }
    .section__paragraph--darker{
        color: #072a16;
        width: 100%;
    }

}
